<!-- <form action="/fileBuku" method="post" enctype="multipart/form-data">
    <label for="bukuId">Buku ID:</label>
    <input type="text" id="bukuId" name="bukuId" required>

    <label for="urlFile">File:</label>
    <input type="file" id="urlFile" name="urlFile" required>

    <button type="submit">Upload</button>
</form> -->
<form action="/fileBuku" method="post" enctype="multipart/form-data">
    <!-- Isi formulir lainnya -->
    <input type="text" id="bukuId" name="bukuId" required>
    <input type="file" name="urlFile" />
    <input type="submit" value="Upload" />
</form>
